[submodule "aw-client"]
	path = aw-client
	url = https://github.com/nccasia/aw-client.git
[submodule "aw-watcher-afk"]
	path = aw-watcher-afk
	url = https://github.com/nccasia/aw-watcher-afk.git
[submodule "aw-qt"]
	path = aw-qt
	url = https://github.com/nccasia/aw-qt.git
[submodule "aw-watcher-window"]
	path = aw-watcher-window
	url = https://github.com/nccasia/aw-watcher-window.git
[submodule "aw-server"]
path = aw-server
url = https://github.com/nccasia/aw-server
[submodule "aw-core"]
path = aw-core
url = https://github.com/nccasia/aw-core