build
build-desktop
dist
dist-universal
*.pkg.tar.zst
packaging/arch/src
packaging/arch/pkg
docs
other
old

# Coverage
*coverage*
htmlcov

# Editor/IDEs
.idea
*.swp

# Python
*venv*
__pycache__

# Misc
.*cache
.DS_Store

#local_token
auth.tracker